@charset "utf-8";
/* 
Gaby Malaka
03/15/2026
CSS Stylesheet 
*/

title{
    text-align: center;
    font-size: 24px;
    font-family: Cascadia Code ExtraLight, monospace;
    font-weight: 200;
    background-color: white;
    padding: 20px;
}
h1 {
    text-align: center;
    font-size: 18px;
    font-family: Cascadia Code ExtraLight, monospace;
    font-weight: 200;
    background-color: white;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    font-size: 14px;
    font-family: Cascadia Code ExtraLight, monospace;
    font-weight: 200;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 20px;
    border-color: purple;
}
.active {
    background-color: white;
}
li a:hover {
    background-color: black;
    color: purple;
}
main {
    padding: 20px;
    border-radius: 20px;
    border-color: purple;
}
h2 {
    text-align: center;
    font-size: 18px;
    font-family: Cascadia Code ExtraLight, monospace;
    font-weight: 200;
    background-color: white;
    padding: 20px;
}
footer {
    color: purple;
    text-align: center;
    font-size: 11px;
    font-family: Cascadia Code ExtraLight, monospace;
    font-weight: 200;
    background-color: lightgray; 
    padding: 20px;
}